<div class="innediv">
	<form action="" method="POST" enctype="multipart/form-data">
		<input type="file" name="bilde">
		<input type="submit" name="byttBrukerbilde" value="Bytt bilde">
	</form>
</div>