<div class="center">
    <a href="http://nor-shipping.com/" class="linkwrap">
        <div class="blocker"></div>
        <iframe id="nedtelling" src="https://free.timeanddate.com/countdown/i63qrea2/n187/cf12/cm0/cu4/ct0/cs1/ca0/co1/cr0/ss0/cacfff/cpcfff/pct/tcfff/fs100/szw448/szh189/tatNor-Shipping%202019/tacccc/tptNor-Shipping%202019%20har%20startet!/tpcccc/iso2019-06-04T09:00:00/pa5" allowTransparency="true" frameborder="0" width="245" height="77">
        </iframe>
    </a>
</div>

<h1 id="hovedtittel" class="animated">
    <img class="radioakt animated" alt="radioaktivitetssymbol" src="/media/layout/radioactive.png"> Heil Windturbines! <img class="radioakt animated" alt="radioaktivitetssymbol" src="/media/layout/radioactive.png">
</h1>

<div class="innediv">
    <p class="center">
        From the pipes<br>
        
        A turbine shall be woken<br>
        
        A wind from the shadow<br>
        
        Shall spring<br>
        
        Renewed shall be blade<br>
        
        That was broken<br>
        
        The turbine again<br>
        
        Shall be king<br>

    </p>
</div>