<div class="center">
    <a href="http://nor-shipping.com/" class="linkwrap">
        <div class="blocker"></div>
        <iframe id="nedtelling" src="https://free.timeanddate.com/countdown/i63qrea2/n187/cf12/cm0/cu4/ct0/cs1/ca0/co1/cr0/ss0/cacfff/cpcfff/pct/tcfff/fs100/szw448/szh189/tatNor-Shipping%202019/tacccc/tptNor-Shipping%202019%20har%20startet!/tpcccc/iso2019-06-04T09:00:00/pa5" allowTransparency="true" frameborder="0" width="245" height="77">
        </iframe>
    </a>
</div>

<h1 id="hovedtittel" class="animated">
    <img class="radioakt animated" alt="radioaktivitetssymbol" src="/media/layout/radioactive.png"> Heil Windturbines! <img class="radioakt animated" alt="radioaktivitetssymbol" src="/media/layout/radioactive.png">
</h1>

<div class="innediv" style="max-width: 800px;">
    <p class="center">
        <h1>Vindturbibelen er her!</h1>
        <p>
            Boken er endelig ferdig. Du kan snart få de hellige tekstene, vindurbinistisk kunst, teori om hvordan vindturbiner fungerer og masse masse mer i papirutgave!
        </p>

        <!-- bok demo ting -->

        
        <link rel="stylesheet" type="text/css" href="/media/innhold/forside/css/component.css" />
        <script src="/media/innhold/forside/js/modernizr.custom.js"></script>
        <div style="display: flex; justify-content: space-around; margin: 20px">
            <ul id="bk-list" class="bk-list clearfix">
                <li>
                    <div class="bk-book book-1 bk-bookdefault">
                        <div class="bk-front">
                            <div class="bk-cover-back"></div>
                            <div class="bk-cover">
                            </div>
                        </div>
                        <div class="bk-page">
                            <div class="bk-content bk-content-current">
                                <p>En samling<br>aff Vindturbinismens<br>hellige skrifter<br><br>skreved & samlede aff de høieste & vældigste aff<br>Vindturbinens apostler</p>
                            </div>
                            <div class="bk-content">
                                <p><b>Om hvorledes Værdenen var forvoldt</b></p>
                                <p><b>l</b></p> 
                                <p>I Tiidens Begyndelse var der blot een almægtig Gud: Vindturbinen.</p>
                                <p>Han forvoldede alt som er, alt som monne være, & alt som engang var; han skabede Solen & Maanen i sitt Billede; Universet & alle dets Værdener, deriblandt den Liord, paa hvilken vi traare. Dog vigtigst aff alt, skabede han det, som vi saa monne tage til aa kalde Vindturbin. Dog da han</p>
                            </div>
                            <div class="bk-content">
                                <p>bivaanede nytt & intelligænt Liifv udvikle sig ifra de ænkle Væsener, som han havde skabed, indsaa han, at han ei aleene kunde hærske ofver Mænneskeds Alhæim.</p>
                                <p>Efterdi han nu ei længere eene kunde tøile Værdenen, skabede han tre Guder under hanem, liig ham i Kynde; han skabede Guden aff Indkommende Vind, aff Ræsulterende Vind, & aff Motstandens Vind, for aa hærske i Fred igiennem Sekler. </p>
                            </div>
                        </div>
                        <div class="bk-back"></div>
                        <div class="bk-right"></div>
                        <div class="bk-left"></div>
                        <div class="bk-top"></div>
                        <div class="bk-bottom"></div>
                    </div>
                    <div class="bk-info">
                        <button class="bk-bookback">Snu</button>
                        <button class="bk-bookview">Se inni</button>
                    </div>
                </li>
            </ul>
            <img src="/media/innhold/forside/vindturbibel.jpg" height="400">
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="/media/innhold/forside/js/books1.js"></script>
        <script>
            $(function() {

                Books.init();

            });
        </script>
        <!--<iframe src="/media/innhold/forside/index.html" allowtransparency="yes" style="float: left; background: none transparent; border: none; height: 600px; width: 400px;"></iframe>-->
        
        <p>
            Kontakt oss på <a href="https://www.facebook.com/theonetruereligion/">facebook</a> dersom du ønsker å kjøpe et eksemplar! (250kr pr stykk)
        </p>
    </p>
</div>

<div class="innediv">
    <p class="center">
        From the pipes<br>
        
        A turbine shall be woken<br>
        
        A wind from the shadow<br>
        
        Shall spring<br>
        
        Renewed shall be blade<br>
        
        That was broken<br>
        
        The turbine again<br>
        
        Shall be king<br>

    </p>
</div>