<h1>Ny tråd i "{{kategori}}"</h1>
<div class="innediv">
    <form action="" method="POST"> 
        <label for="tittel">Tittel</label><br>
        <input type="text" placeholder="Tittel" name="tittel"> <br> 
        <label for="innhold">Innhold</label>
        <textarea name="innhold"></textarea>
        <input type="submit" value="Legg til" name="ny_traad"> 
    </form> 
</div>