<div class="innediv">
	<h1>Opptaksquiz</h1>
	<p>Før du kan lage en bruker på nettsiden må du fullføre denne korte quizen.</p><br>
	<p>Hva ser du på dette bildet?</p>
	<img id="idBilde" alt="Laster inn bilde" src="/media/innhold/quiz/vindturbin.jpg" height=350px width=262px>
	<br>
	<button id="idAlt1">Vindmølle</button>
	<button id="idAlt2">Vindturbin</button>
	<p id="idSvar"></p>
</div>