<div class="innediv">
    <h1>Registrer deg</h1>
    <form action="" method="POST"> 
        <label for="brukernavn">Brukernavn</label>
        <input type="text" placeholder="Brukernavn" name="brukernavn"> <br> 
        <label for="epost">E-post</label>
        <input type="text" placeholder="E-post" name="epost"> <br> 
        <label for="passord">Passord</label>
        <input type="password" placeholder="Passord" name="passord"> <br> 
        <label for="bekreft_passord">Bekreft passord</label>
        <input type="password" placeholder="Bekreft Passord" name="bekreft_passord"> <br> 
        <input type="submit" value="Registrer" name="reg_bruker"> 
    </form> 
</div>