<div class="innediv">
    <h1>Tilbakestill passord</h1>
    Kommer snart
    {{!<form action="" method="POST">
        <label for="epost">E-post</label>
        <input type="text" placeholder="E-post" name="epost"> <br>
        <input type="submit" value="Tilbakestill" name="tilbakestill_passord_epost">
    </form>}}
</div>