<h1>Spill og quiz</h1>
<div class="innediv">
    <div class="innpakning">
        <a href="/spill/turbinPåRad">Turbin På Rad!</a>
        <a href="/spill/turbinquiz">Turbinquizen!</a>
    </div>
</div>