<h1>Spill og quiz</h1>
<div class="innediv">
    <div class="innpakning">
        <h1><a href="/spill/turbinPåRad">Turbin På Rad</a></h1>
        <h1><a href="/spill/turbinquiz">Turbinquizen</a></h1>
    </div>
</div>