<h1>Viktig video</h1>
<iframe width="853" height="480" src="https://www.youtube.com/embed/ggg3C87UVCY?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h1>Musikk</h1>
<iframe width="853" height="480" src="https://www.youtube.com/embed/hpjV962DLWs?autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<div class="disclaimer"> 
	<p>
		Heilwindturbines.com does not own this music and video material.<br>
		All rights reserved to the respective owners:<br>
		Vladimir Cauchemar and Ed Banger Records.
	</p>
</div>