<h1>Tekstbasert eventyrspill</h1>
<div class="innediv">
    <div id="spill">
        <p id="spilltekst"></p>
        <button id="svara">a</button>
        <button id="svarb">b</button>

        <button id="restart">Spill igjen</button>
    </div>
</div>