<h1>Quiz</h1>
<div class="innediv">
    <div class="innpakning">
        <h3>Svar på spørsmålene under. Hver riktig avkrysning gir ett poeng og hver gal avkrysning gir minus ett poeng. <br><u>Husk at mer enn ett svar kan være riktig på hver oppgave!</u></h3>
    </div>
</div>